<section class="about-tmg">
  <div class="about-tmg__container">
    <div class="about-tmg__header">
      <span class="about-tmg__label">{{ 'about.tmg.sectionLabel' | transloco }}</span>
      <h2 class="about-tmg__title">{{ 'about.tmg.title' | transloco }}</h2>
    </div>
    <div class="about-tmg__content">
      <p class="about-tmg__paragraph">
        {{ 'about.tmg.p1' | transloco }}
      </p>
      <p class="about-tmg__paragraph">
        {{ 'about.tmg.p2' | transloco }}
      </p>
      <p class="about-tmg__paragraph">
        {{ 'about.tmg.p3' | transloco }}
      </p>
    </div>
  </div>
</section>
