<section class="contact-hero">
  <div class="contact-hero__image-wrapper">
    <img src="/images/project-image.jpg" [alt]="'contactUs.hero.imageAlt' | transloco" class="contact-hero__image" />
    <div class="contact-hero__overlay"></div>
  </div>
  <div class="contact-hero__content">
    <h1 class="contact-hero__title">
      {{ 'contactUs.hero.title' | transloco }}
    </h1>
    <p class="contact-hero__description">
      {{ 'contactUs.hero.description' | transloco }}
    </p>
  </div>
</section>